* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
  }
  :root {
    --mainColor: #fff2ad;
    --secondColor: #004b00;
    --whiteColor: white;
    --monteratText: "Montserrat", sans-serif;
    --fredokaText: "Fredoka", sans-serif;
    --hoverColor: #94eb81;
  } 
  body {
    background-color: var(--mainColor);
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .app {
    width: 100%;
  }
  /* ------------------header-------------------- */
  .header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--mainColor);
    position: fixed;
    top: 0;
    z-index: 1;
  }
  .logo img {
    width: 99px;
    height: 103px;
  }
  .logo {
    padding: 0 30px 0 30px;
    margin: 0 15px 0 30px;
  }
  .header-menu ul {
    display: flex;
    align-items: center;
    background-color: var(--secondColor);
    border-radius: 61.5px;
    padding: 15px;
  }
  .header-menu ul li a {
    color: var(--whiteColor);
    font-family: var(--monteratText);
    padding: 0 50px;
  }
  
  .header-acc {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 280px;
    gap: 50px;
    cursor: pointer;
  }
  
  .header-acc div {
    background-color: var(--secondColor);
    color: var(--whiteColor);
    border-radius: 50px;
    padding: 10px 25px;
  }
  .acc img {
    width: 30px;
    height: 30px;
  }
  .acc1 img {
    width: 20px;
    height: 30px;
  }

  .user--option{
    background-color: var(--mainColor);
    position: absolute;
    top: calc(100% + 5px);
    right: 9%;
    border-radius: 4px;
    display: none;
  }
  .user--option--menu--item{
    padding: 5px;
    border: 1px solid var(--secondColor);
    cursor: pointer;
  }
  .user--option--menu--item:hover{
    background-color: var(--secondColor);
    color: var(--whiteColor);
    opacity: 0.7;
  }




/* body */


.card-section {
    display: flex; 
    justify-content: space-between; 
    margin-top: 100px; 
    padding-bottom: 200px;
}
.card {
    border-radius: solid black 8px;
    margin: 10px;
    padding: 20px;
    width: calc(33% - 40px);
    text-align: center;
    transition: transform 0.2s;

    
}
.card_img{
    width: 200px;
    height: 200px;
}
.card:hover {
    transform: scale(1.05);
}
.card a{
  font-family: var(--monteratText);
}
.title {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'DT Phudu';
    font-size: 20px;
    font-weight: 700;
    line-height: 39.6px;
    letter-spacing: -0.015em;
    text-align: center;

}
.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px; /* Padding cho nút */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    flex: 1; /* Các nút sẽ chiếm cùng một lượng không gian */
    margin: 0 5px; /* Khoảng cách giữa các nút */
    text-align: center; /* Căn giữa văn bản trong nút */
    box-sizing: border-box; /* Đảm bảo padding không làm tăng kích thước */
    height: 40px; /* Chiều cao cố định cho tất cả các nút */
}
.btn:hover {
    background-color: #45a049;
}


.chat{
    width: 100px; 
    height: 100px;
    border-radius: 50%; 
    align-items: center;
    margin-left: 92%;
    margin-top: 60px;
    margin-bottom: 30px;
}


/* footer */
.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Đặt các phần đều ra hai bên */
    height: 198px;
    background-color: var(--secondColor);
    padding: 0 50px; /* Thêm padding hai bên */
  }
  
  .footer-contact {
    display: flex;
  }
  
  .address,
  .personal-contact {
    display: flex;
    flex-direction: column;
    /* padding: 0 8px; */
  }
  
  .address div,
  .personal-contact div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .address img,
  .personal-contact img {
    margin-right: 10px;
  }
  
  .time,
  .street,
  .phone,
  .email {
    font-size: 15px;
    padding: 10px;
    color: var(--whiteColor);
    font-family: var(--monteratText);
  }
  
  .time img {
    height: 40px;
    padding-right: 15px;
  }
  
  .street img {
    text-align: center;
    height: 40px;
    padding-right: 30px;
  }
  
  .phone img {
    height: 40px;
    padding-right: 25px;
  }
  
  .email img {
    height: 30px;
    padding-right: 17px;
  }
  
  .phone {
    margin-top: 10px;
  }
  
  .brand {
    font-size: 75px;
    font-family: var(--fredokaText);
    color: white;
    font-weight: bold;
    text-align: left;
    justify-content: center;
    flex-grow: 2;
    padding: 50px 0;
    margin-right: 10px;
  }
  
  .social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 77px;
    flex-grow: 1;
  }
  
  .messText{  
    display: none;
    position: fixed;
    width: 400px;
    height: 500px;
    bottom: 0;
    right: 10px;
} 

.chat-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    padding-top: 13px;
}



.chat-header,.chat-container{
    background-color: #469100;
}
.chat-header img{
    width: 40px;
    height: 40px;
    background-color: var(--whiteColor);
    border-radius: 50%;
}
.chat-header div{
    font-size: 30px;
    font-family: var(--fredokaText);
    font-weight: bold;
    color: var(--whiteColor);
}

.chat-container{
    font-size: 10px;
    font-family: var(--monteratText);
    color: var(--whiteColor);
    padding: 35px 0 10px 40px;
}
.chat-container-hello{
    font-weight: bold;
}

.chat-body div{
    margin: 30px;
    padding: 10px;
    background-color: gainsboro;
    border-radius: 20px;
    font-size: 10px;
    font-family: var(--monteratText);
}

.chat-body{
    padding:10px 10px 200px 10px;
    background-color: var(--whiteColor);
    border-bottom: 1px solid black;
}

.chat-footer{
    display: flex;
    align-items: center;
    background-color: var(--whiteColor);
    gap: 35px;
}

.chat-footer input{
    width: 300px;
    padding: 20px 20px;
    border: none;
    outline: none;
    font-size: 10px;
    font-family: var(--monteratText);
}

.chat-footer button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: var(--secondColor);
    font-size: 10px;
    font-family: var(--monteratText);
    color:var(--whiteColor)
}
/* -----------chat---------- */
.mess{
    position: fixed;
    background-color: var(--secondColor);
    border-radius: 50%; 
    padding: 20px; 
    right: 10px;
    bottom: 12px;
}

.mess a i{
    color: var(--whiteColor);
    font-size: 35px;
}

.title{
  font-family: var(--monteratText);
}

/* ------hover----- */
li:hover{
  text-decoration: underline;
  color: var(--hoverColor);
}
.acc:hover, .acc1:hover{
  background-color: var(--hoverColor);
  
}

.acc img:hover, .acc1 img:hover {
  filter: sepia(100%) hue-rotate(85deg) saturate(600%) brightness(50%);
}

.datNgay:hover{
  background-color: var(--hoverColor);
  color: var(--secondColor);
}

.tag img:hover{
  filter: sepia(100%) hue-rotate(85deg) saturate(600%) brightness(50%);
}

.mess:hover{
  background-color: var(--hoverColor);
  animation: bounce 0.5s
}
