* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
a {
  text-decoration: none;
}
:root {
  --mainColor: #fff2ad;
  --secondColor: #004b00;
  --whiteColor: white;
  --monteratText: "Montserrat", sans-serif;
  --fredokaText: "Fredoka", sans-serif;
  --hoverColor: #94eb81;
}
body {
  background-color: var(--mainColor);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.app {
  width: 100%;
}
/* ------------------header-------------------- */
.header {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--mainColor);
  position: fixed;
  top: 0;
  z-index: 10;
}
.logo img {
  width: 99px;
  height: 103px;
}
.logo {
  padding: 0 30px 0 30px;
  margin: 0 15px 0 30px;
}
.header-menu ul {
  display: flex;
  align-items: center;
  background-color: var(--secondColor);
  border-radius: 61.5px;
  padding: 15px;
}
.header-menu ul li a {
  color: var(--whiteColor);
  font-family: var(--monteratText);
  padding: 0 50px;
}

.header-acc {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 280px;
  gap: 50px;
  cursor: pointer;
}

.header-acc div {
  background-color: var(--secondColor);
  color: var(--whiteColor);
  border-radius: 50px;
  padding: 10px 25px;
}
.acc img {
  width: 30px;
  height: 30px;
}
.acc1 img {
  width: 20px;
  height: 30px;
}
.body{
    padding-top: 54px;
}
.user--option{
  background-color: var(--mainColor);
  /* border: 1px solid var(--secondColor); */
  position: absolute;
  top: calc(100% + 5px);
  right: 9%;
  border-radius: 4px;
  display: none;
}
.user--option--menu--item{
  padding: 5px;
  border: 1px solid var(--secondColor);
  cursor: pointer;
}
.user--option--menu--item:hover{
  background-color: var(--secondColor);
  color: var(--whiteColor);
  opacity: 0.7;
}
.messText{  
  display: none;
  position: fixed;
  width: 400px;
  height: 500px;
  bottom: 0;
  right: 10px;
} 

.chat-header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding-top: 13px;
}



.chat-header,.chat-container{
  background-color: #469100;
}
.chat-header img{
  width: 40px;
  height: 40px;
  background-color: var(--whiteColor);
  border-radius: 50%;
}
.chat-header div{
  font-size: 30px;
  font-family: var(--fredokaText);
  font-weight: bold;
  color: var(--whiteColor);
}

.chat-container{
  font-size: 10px;
  font-family: var(--monteratText);
  color: var(--whiteColor);
  padding: 35px 0 10px 40px;
}
.chat-container-hello{
  font-weight: bold;
}

.chat-body div{
  margin: 30px;
  padding: 10px;
  background-color: gainsboro;
  border-radius: 20px;
  font-size: 10px;
  font-family: var(--monteratText);
}

.chat-body{
  padding:10px 10px 200px 10px;
  background-color: var(--whiteColor);
  border-bottom: 1px solid black;
} 

.chat-footer{
  display: flex;
  align-items: center;
  background-color: var(--whiteColor);
  gap: 35px;
}

.chat-footer input{
  width: 300px;
  padding: 20px 20px;
  border: none;
  outline: none;
  font-size: 10px;
  font-family: var(--monteratText);
}

.chat-footer button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: var(--secondColor);
  font-size: 10px;
  font-family: var(--monteratText);
  color:var(--whiteColor)
}
/* -----------chat---------- */
.mess{
  position: fixed;
  background-color: var(--secondColor);
  border-radius: 50%; 
  padding: 20px;
  right: 10px;
  bottom: 12px;
  z-index: 1000;
}

.mess a i{
  color: var(--whiteColor);
  font-size: 35px;
}


.nav-menu {
  list-style-type: none;
  display: flex;
  background-color: #004b00;
  border-radius: 50px;


}

.nav-menu li {

}

.nav-link {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: white;
  font-weight: 400;
} 

.nav-link:hover {
  color: #78d878;
}

.icon {
  display: flex;
  gap: 70px;

}

.icon img {
  width: 85px;
  height: 72px;

}

/* body */

.dia_tren {
  width: 1400px;
  margin: 100px 0 0 60px;
  object-fit: contain;
  border: none;
  display: flex;
 ;
}
.food_menu {
  margin-top: 20px;
}

.ss{
  font-family: var(--monteratText);
  padding-left: 150px;
  font-size: 60px;
  color: var(--secondColor);
  font-weight: bold;
}

/* h2 {
  font-family: "DT Phudu";
  font-size: 70px;
  font-weight: 700;
  line-height: 105.6px;
  letter-spacing: -0.015em;
  text-align: center;
  color: #004b00;
  width: 70%;
  margin-left: 200px;
} */

.chat {
  margin-right: 120px;
}
.block1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.mota {
  margin-left: 140px;
  width: 80%;
  text-align: center;
  border-radius: 10px;
}
.mota p {
  width: 100%;
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 1.5;
  color: #004b00;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.02em;
}
.salad_type {
  margin-top: 56px;
  display: flex;
  border: 1px solid #004b00; /* Đường viền xanh */
  border-radius: 10px;
  padding: 5px;
  width: 1300px;
  margin-left: 120px;
}
.salad_type a {
  flex: 1;
  font-size: 15px;
  color: var(--secondColor);
  padding: 10px;
  text-decoration: none;
  transition: background-color 0.3s;
  font-family: var(--fredokaText);
  font-size: 30px;
  font-weight:bold;
  line-height: 59.4px;  
  text-align: center;
  width: 200px;
}

.salad_type a:hover {
  color: #157bc5;
}
.food_block2 {
  margin-top: 50px;
}
.latcam {
  width: 15%;

}
.dia_duoi {
  position: relative;
  width: 60%;
  left: 50%;
  transform: translateX(-50%);
}

.food_items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 100px;
  margin: 100px 0 100px 0;
}
.footer-icons a img {
  width: 60px;
  height: 60px;
  border-radius: 20%;
}
.food_item {
  width: 485px;
  height: 400px;
  display: flex;
  justify-self: center;
  margin-bottom: 100px;
}
.salad_img {
  /* bottom: 10px; */
  position: absolute;
  width: 300px;
  height: 300px;
  margin-left: 50px;
}
.mb_1 {
  display: block;
  margin-top: 230px;
}
.salad_name {
  position: absolute;
  margin-top: 20px;
  margin-left: 320px;
  color: #004b00;
}
.salad_name h2{
  margin: 20px 0 0 30px;
  font-family: var(--monteratText);
  width: 250px;
}
.salad1 {
  background-color: #004b00;
  width: 400px;
  height: 300px;
  justify-content: center;
  border-radius: 20px;
}
.price-vnd {
  color: #188018;
}
.salad_parents {
  display: flex;
  justify-content: center;

}
.salad_price {
  width: 200px;
  height: 40x;
  border-radius: 20px;
  background: #ffffff;
  display: flex;
  margin-bottom: 10px;
  gap: 10px;
  justify-content: center;
  font-family: var(--monteratText);
}
.button-action {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.button-action .button {
  width: 195px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  border: 1px solid #188018;
}
.button-action .button-add-item {
  background: #004b00;
  color: #ffffff;
  font-family: var(--monteratText);
  font-size: 15px;
  text-align: center;
}
.button-action .button-buy-item {
  background: #ffffff;
  color: #188018;
  font-family: var(--monteratText);
  font-size: 15px;
}
.button-add-item:hover{
  background-color: var(--hoverColor);
  color: var(--secondColor)
}
.button-buy-item:hover{
  background-color: var(--hoverColor);
  color: var(--whiteColor);
}
.button-action .button h6 {
  margin-top: 8px;
}
.item {
  height: 180px;
  width: 180px;
  background: white;
  border-radius: 20px;
  border-color: red;
  border: 2px solid #188018;
  font-family: var(--monteratText);
  padding: 10px
}
.item h4{
  text-align: center;
  padding-bottom: 10px;
}
.note{
  position: absolute;
  margin-left: 408px;
  margin-top: 200px;
  font-family: var(--monteratText);
}
.note input{
  font-family: var(--monteratText);
}
.note .button {
  width: 150px;
  height: 28px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #188018;
  outline: none;
}
.cam2 {
  width: 400px;
  height: 400px;
  margin-left: 780px;
}

/* footer */
.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Đặt các phần đều ra hai bên */
  height: 198px;
  background-color: var(--secondColor);
  padding: 0 50px; /* Thêm padding hai bên */
}

.footer-contact {
  display: flex;
}

.address,
.personal-contact {
  display: flex;
  flex-direction: column;
  /* padding: 0 8px; */
}

.address div,
.personal-contact div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.address img,
.personal-contact img {
  margin-right: 10px;
}

.time,
.street,
.phone,
.email {
  font-size: 15px;
  padding: 10px;
  color: var(--whiteColor);
  font-family: var(--monteratText);
}

.time img {
  height: 40px;
  padding-right: 15px;
}

.street img {
  text-align: center;
  height: 40px;
  padding-right: 30px;
}

.phone img {
  height: 40px;
  padding-right: 25px;
}

.email img {
  height: 30px;
  padding-right: 17px;
}

.phone {
  margin-top: 10px;
}

.brand {
  font-size: 75px;
  font-family: var(--fredokaText);
  color: white;
  font-weight: bold;
  text-align: left;
  justify-content: center;
  flex-grow: 2;
  padding: 50px 0;
  margin-right: 10px;
}
.body{
  padding-top:54px ;
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 77px;
  flex-grow: 1;
}
.quantity-btn{
  width: 25px;
  height: 15px;
  border-radius:20px ;
  background-color: white;
  color: #004b00;
  border: 1px solid #004b00;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addsession{
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100%;
  bottom: 0;
}

.box{
position: relative;
width: 15%;
height: 300px;

}
.imgIngredient > img{
  width: 150px;
  height: 150px;
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  object-fit: cover;
  border-radius: 50%;
  /* background-color: red; */
  /* background-image: url('https://photos.google.com/photo/AF1QipMoaDn7oIVmD9piI7VhtMFw16VLLfKI3hy3jsSr'); */
}
.content{
  position: absolute;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 2;
  color: white;
}


.food{
  /* width: 80%; */
  display: grid;
  
}
.itemIngredient{
  width: 90%;
  margin: auto;
}
.title{
  text-align: center;
  margin: 100px 0 50px ;
  color: var(--secondColor);
}
.content1{
  gap: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}



.proInfo{
  border: 1px solid green;
  border-radius: 10px;
  padding: 2px 4px;
  z-index: 2;
  color:#004b00 ;
  background-color: white;
}
.fun{
  width: 100%;
  background-color: #004b00;
  height:130px;
  position: absolute;
  bottom: 9%;
  border-radius: 10px;
}
.name{
  text-align: center;
  width: 100%;
  padding-top: 15px;
  color: #004b00;
  font-weight: 600;
}
li:hover{
  text-decoration: underline;
  color: var(--hoverColor);
}
.acc:hover, .acc1:hover{
  background-color: var(--hoverColor);
  
}

.acc img:hover, .acc1 img:hover {
  filter: sepia(100%) hue-rotate(85deg) saturate(600%) brightness(50%);
}

.datNgay:hover{
  background-color: var(--hoverColor);
  color: var(--secondColor);
}

.tag img:hover{
  filter: sepia(100%) hue-rotate(85deg) saturate(600%) brightness(50%);
}

.mess:hover{
  background-color: var(--hoverColor);
}