* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
:root{
    --mainColor:  #FFF2AD;
    --secondColor: #004B00;
    --whiteColor:white;
    --monteratText: "Montserrat", sans-serif;
    --fredokaText: "Fredoka", sans-serif;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.app{
    width: 100%;
}
/* ------------------header-------------------- */
.header{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--mainColor);
}
.logo img{
    width: 99px;
    height: 103px;
}
.logo{
    padding:0 30px 0 30px; 
    margin: 0 15px 0 30px;
}
.header-menu ul {
    display: flex;
    align-items: center;
    background-color: var(--secondColor);
    border-radius: 61.5px;
    padding: 15px;
}
.header-menu ul li a{
    color: var(--whiteColor);
    font-family: var(--monteratText);
    padding: 0 50px
}

.header-acc {
    display: flex;
    align-items:center;
    justify-content: center;
    margin-left: 280px;
    gap: 50px
}

.header-acc div {
    background-color: var(--secondColor);
    color: var(--whiteColor);
    border-radius: 50px;
    padding:10px 25px
}
.acc img{
    width: 30px;
    height: 30px;
}
.acc1 img{
    width: 20px;
    height: 30px;
}


/* -------thanhToanDonHang----- */
.thanhToanDonHang{
    font-family: var(--fredokaText);
    font-size: 80px;
    color: var(--secondColor);
    text-align: center;
    padding: 80px 0 40px 0;
    background-color: var(--mainColor);
}

.tuyChonGiaoHang{
    color: var(--secondColor);
    font-family: var(--fredokaText);
    font-size: 30px;
    padding: 10px 200px;
    background-color: var(--mainColor);
    font-weight: bold;
}



/* ----------container1-------- */
.container1{
    display: flex;
    align-items: center;
    padding-left: 200px;
    position: relative;
    background-color: var(--mainColor);
    position: relative;
}

.phuongThucPay{
    display: flex;
    align-items: center;
    gap:100px
}

.giaoDen, .tuNhan{
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 
}
.tieude{
    font-size: 25px;
    text-align: center;
    font-family: var(--fredokaText);
    font-weight: bold;
    color: var(--secondColor);
}
.gia{
    font-size: 15px;
    text-align: center;
    font-family: var(--monteratText);
}
.tieudeDiaChi{
    color: var(--secondColor);
    font-family: var(--fredokaText);
    font-size: 30px;
    font-weight: bold;
    padding: 10px 0
}
.noiDung{
    font-size: 15px;
    font-family: var(--monteratText);
    padding-bottom: 5px;
}
.form div{
    font-size: 18px;
    font-family: var(--monteratText);
    padding: 2px 0;
}
.form input{
    font-size: 15px;
    font-family: var(--monteratText);
    color: var(--secondColor);
    padding: 8px;
    width: 450px;
    border-radius: 20px;
    
}
.macDinh{
    border-radius: 20px;
}
.macDinh div button{
    background: var(--secondColor);
    padding: 10px;
}
.submit{
    font-family:  var(--monteratText);
    font-size: 18px;
    color: var(--whiteColor);
    border-radius: 10px;
    font-weight: bold;
}
.boxPay{
    margin-left: 100px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}

.inDam{
    font-family: var(--fredokaText);
    font-size: 30px;
    color: var(--secondColor);
    font-weight: bold;
    text-align: right;

}
.tongSoMon{
    font-family: var(--fredokaText);
    font-size: 30px;
    color: var(--secondColor);
    font-weight: bold;
}
.soLuong,.tongTien,.vanChuyen,.tongHoaDon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    gap: 100px
}
.tongTienTieuDe,.vanChuyenTieuDe,.tongHoaDonTieuDe{
    font-family: var(--monteratText);
    font-size: 18px
}
.thanhToan{
    text-align: center;
    border-radius: 20px;


}
.thanhToan button{
    font-family: var(--fredokaText);
    font-size: 30px;
    border-radius: 20px;
    background-color: var(--secondColor);
    color: var(--whiteColor);
    padding: 0 10px 
}
.hoTro{
    text-align: center;
    padding-top: 15px;
}
.hoTro a{
    font-family: var(--monteratText);
    color: var(--secondColor);
}

.quayVeGioHang{
    text-align: center;
    padding-top: 30px;

}
.quayVeGioHang button{
    font-size: 30px;
    color: var(--secondColor);
    font-family: var(--fredokaText);
    border-radius: 10px;
    background-color: var(--whiteColor);
}

.container2{
    padding: 20px 0 20px 200px;
    font-size: 30px;
    font-family: var(--fredokaText);
    color: var(--secondColor);
    background-color: var(--mainColor);
}
.phuongThucThanhToan{
    background-color: var(--mainColor);
    font-size: 18px;
    font-family: var(--monteratText);
    color: var(--secondColor);
    padding-left: 200px;

    
}
.phuongThucThanhToan input[type="radio"]{
    width: 15px;
    height: 15px;
    accent-color: var(--secondColor);
}
.text_container3{
    background-color: var(--mainColor);
    padding: 0 0 50px 200px;
    font-size: 18px;
    font-family: var(--monteratText);
}   
/* ---------------footer--------------- */
.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Äáº·t cÃ¡c pháº§n Ä‘á»u ra hai bÃªn */
    height: 198px;
    background-color: var(--secondColor);
    padding: 0 50px; /* ThÃªm padding hai bÃªn */
}

.footer-contact {
    display: flex;
}

.address, .personal-contact {
    display: flex;
    flex-direction: column;
    /* padding: 0 8px; */
}

.address div, .personal-contact div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.address img, .personal-contact img {
    margin-right: 10px;
}

.time, .street, .phone, .email {
    font-size: 15px;
    padding: 10px;
    color: var(--whiteColor);
    font-family: var(--monteratText);
}

.time img {
    height: 40px;
    padding-right: 15px;
}

.street img {
    text-align: center;
    height: 40px;
    padding-right: 30px;
}

.phone img {
    height: 40px;
    padding-right: 25px;
}

.email img {
    height: 30px;
    padding-right: 17px;
}

.phone {
    margin-top: 10px;
}

.brand {
    font-size: 75px;
    font-family: var(--fredokaText);
    color: white;
    font-weight: bold;
    text-align: left;
    justify-content: center;
    flex-grow: 2;
    padding: 50px 0 ;
    margin-right: 10px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 77px;
    flex-grow: 1; 
}






.messText{  
    display: none;
    position: fixed;
    width: 400px;
    height: 500px;
    bottom: 0;
    right: 10px;
} 

.chat-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    padding-top: 13px;
}



.chat-header,.chat-container{
    background-color: #469100;
}
.chat-header img{
    width: 40px;
    height: 40px;
    background-color: var(--whiteColor);
    border-radius: 50%;
}
.chat-header div{
    font-size: 30px;
    font-family: var(--fredokaText);
    font-weight: bold;
    color: var(--whiteColor);
}

.chat-container{
    font-size: 10px;
    font-family: var(--monteratText);
    color: var(--whiteColor);
    padding: 35px 0 10px 40px;
}
.chat-container-hello{
    font-weight: bold;
}

.chat-body div{
    margin: 30px;
    padding: 10px;
    background-color: gainsboro;
    border-radius: 20px;
    font-size: 10px;
    font-family: var(--monteratText);
}

.chat-body{
    padding:10px 10px 200px 10px;
    background-color: var(--whiteColor);
    border-bottom: 1px solid black;
}

.chat-footer{
    display: flex;
    align-items: center;
    background-color: var(--whiteColor);
    gap: 35px;
}

.chat-footer input{
    width: 300px;
    padding: 20px 20px;
    border: none;
    outline: none;
    font-size: 10px;
    font-family: var(--monteratText);
}

.chat-footer button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: var(--secondColor);
    font-size: 10px;
    font-family: var(--monteratText);
    color:var(--whiteColor)
}
/* -----------chat---------- */
.mess{
    position: fixed;
    background-color: var(--secondColor);
    border-radius: 50%; 
    padding: 20px;
    right: 10px;
    bottom: 12px;
}

.mess a i{
    color: var(--whiteColor);
    font-size: 35px;
}

/* ---------blur------- */
.error {
    border-color: red;
}
.error-message {
    color: red;
    font-size: 12px;
    display: none;
}
input {
    margin-bottom: 10px;
    padding: 5px;
    width: 300px;
}
.macDinh {
    margin-top: 20px;
}


.iconThanhToan img{
    width: 400px;
    position: absolute;
    right: 450px
}